<!doctype html>
<html lang="en" data-ng-app="octo">
<head>
    <meta charset="utf-8">
    <title>My HTML File</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">

    <script src="bower_components/lodash/lodash.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/restangular/src/restangular.js"></script>
    <script src="config/config.service.js"></script>
    <script src="api/api.service.js"></script>
    <script src="sockets/sockets.service.js"></script>
    <script src="index.js"></script>
</head>
<body class="container-fluid" ng-controller="OctoController">

<form name="chatform">
    <input type="text" ng-model="chatMessage"/>
    <button type="submit" ng-click="chatSubmit(chatform)">Submit</button>
</form>

<p>Hello {{chatMessage}}</p>

<div>
    <h2>Chat</h2>
    <div ng-show="globalChat.length">
        <ul>
            <li ng-repeat="message in globalChat track by $index" ng-bind="message"></li>
        </ul>
    </div>
    <div ng-show="!globalChat.length">Loading chat...</div>
</div>

<div>
    <h2>Socket pings</h2>
    <ul>
        <li ng-repeat="message in socketDebug" ng-bind="message"></li>
    </ul>
</div>

</body>
</html>
