<!doctype html>
<html lang="en" data-ng-app="octo">
<head>
    <meta charset="utf-8">
    <title>Obtuse Octo Adventure</title>

    <!-- bower:css -->
    <!-- endinject -->

    <link rel="stylesheet" href="css/app.css">

    <!-- bower:js -->
    <!-- endinject -->

    <!-- angular:js -->
    <!-- endinject -->
</head>
<body ng-controller="OctoController">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header text-center">
                <h1>Obtuse Octo Adventure</h1>
                <p><small>(because that is what you get when you let GitHub name your project)</small></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-sm-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="lead">A simple blackjack implementation</p>
                    <p>Rule specifics:</p>
                    <ul>
                        <li>Dealer always stays on 17 or higher</li>
                        <li>Dealer always hits on 16 or higher</li>
                        <li>Player wins if they beat the dealer (without going bust)</li>
                        <li>Dealer wins if no players win</li>
                        <li>Dealer automatically wins on 21</li>
                        <li>Aces are worth exactly 11</li>
                    </ul>
                    <div class="text-right"><small><a class="text-muted" target="_blank" href="https://github.com/MrHen/obtuse-octo-adventure">view source</a></small></div>
                </div>
            </div>

            <octo-game game="game" player="player_name" on-new-game="newGame()" on-action="doAction(action)"></octo-game>

            <octo-leaderboard players="leaderboard"></octo-leaderboard>
        </div>

        <div class="col-md-4 hidden-xs hidden-sm">
            <octo-settings name="player_name"></octo-settings>

            <octo-chat messages="globalChat" on-chat="chatSubmit(message)"></octo-chat>

            <div id="debug-panel" class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Debug</h2>
                </div>
                <div class="list-group">
                    <button class="list-group-item" ng-click="loadRoom()"><div class="text-center">Load Room</div></button>
                    <button class="list-group-item" ng-click="loadGame()"><div class="text-center">Load Game</div></button>
                    <button class="list-group-item" ng-click="newGame()"><div class="text-center">Reset Game</div></button>
                </div>
                <div class="panel-heading">
                    <h2 class="panel-title">Socket pings</h2>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li ng-repeat="message in socketDebug track by $index" ng-bind="message"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
