<!doctype html>
<html lang="en" data-ng-app="octo">
<head>
    <meta charset="utf-8">
    <title>Obtuse Octo Adventure</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">

    <script src="bower_components/lodash/lodash.min.js"></script>
    <script src="bower_components/socket.io-client/socket.io.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/restangular/src/restangular.js"></script>
    <script src="config/config.service.js"></script>
    <script src="api/api.service.js"></script>
    <script src="sockets/sockets.service.js"></script>
    <script src="index.js"></script>
</head>
<body ng-controller="OctoController">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>Obtuse Octo Adventure</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div>
                <div ng-show="!room">
                    <p>Loading room...</p>
                </div>
                <div ng-show="room">
                    <p>{{room.game_id}}</p>
                    <ul>
                        <li ng-repeat="player in room.players track by $index" ng-bind="player"></li>
                    </ul>
                </div>
            </div>

            <p>Content goes here. {{player.name}}</p>
        </div>

        <div class="col-sm-4">
            <div id="settings-panel" class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Settings</h2>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" name="settingsform">
                        <div class="form-group">
                            <label for="settingsName" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input ng-disabled="!canEditPlayer" type="text" class="form-control" ng-model="player.name" id="settingsName" placeholder="Name">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div id="chat-panel" class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Chat</h2>
                </div>
                <div class="panel-body">
                    <form class="form-inline" name="chatform">
                        <input class="form-control" type="text" ng-model="chatMessage" placeholder="Say something!"/>
                        <button class="btn btn-default" type="submit" ng-click="chatSubmit(chatform)">Submit</button>
                    </form>
                </div>
                <div class="panel-body">
                    <div ng-show="!globalChat">Loading chat...</div>
                    <div ng-show="!globalChat.length">Empty chat</div>
                    <div ng-show="globalChat">
                        <ul>
                            <li ng-repeat="message in globalChat track by $index" ng-bind="message"></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="ping-panel" class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Socket pings</h2>
                </div>
                <div class="panel-body">
                    <ul>
                        <li ng-repeat="message in socketDebug track by $index" ng-bind="message"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
