<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right text-muted" ng-show="vm.game">#{{vm.game.id}}</div>
        <h2 class="panel-title">Current game</h2>
    </div>

    <div class="panel-body" ng-show="!vm.game">
        <div>Waiting for game...</div>
    </div>
    <table class="table table-responsive" ng-show="vm.game">
        <tr>
            <th>Player</th>
            <th>State</th>
            <th>Cards</th>
            <th>Score</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="(player, value) in vm.game.players" ng-class="{'success':(value.state === 'win')}">
            <td ng-bind="player"></td>
            <td ng-bind="value.state"></td>
            <td ng-bind="value.cards"></td>
            <td ng-bind="value.score" ng-class="{'bg-danger':(value.state === 'bust')}"></td>
            <td>
                <button ng-if="vm.player === player" class="btn btn-default btn-xs" ng-disabled="value.state !== 'current'" ng-click="vm.action('hit')">Hit</button>
                <button ng-if="vm.player === player" class="btn btn-default btn-xs" ng-disabled="value.state !== 'current'" ng-click="vm.action('stay')">Stay</button>
            </td>
        </tr>
    </table>
    <div class="list-group">
        <button ng-show="!vm.game || vm.game.ended" class="list-group-item list-group-item-info" ng-click="vm.newGame()"><div class="text-center">New Game</div></button>
        <!--<button ng-hide="!vm.game || vm.game.ended" class="list-group-item list-group-item-warning" ng-click="vm.newGame()"><div class="text-center">Forfeit Game</div></button>-->
    </div>
</div>
