<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Leaderboard</h2>
    </div>

    <div class="panel-body" ng-show="!vm.players">
        <div>Loading...</div>
    </div>
    <div class="panel-body" ng-show="vm.players && !vm.players.length">
        <div>No wins yet.</div>
    </div>
    <table class="table table-responsive" ng-show="vm.players && vm.players.length">
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Wins</th>
        </tr>
        <tr ng-repeat="(rank, value) in vm.players">
            <td ng-bind="rank + 1"></td>
            <td ng-bind="value.player"></td>
            <td ng-bind="value.wins"></td>
        </tr>
    </table>
</div>
